.localize-button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0px;
  border-radius: 4px;
  transition: all 200ms;
  background-color: #3997bd;
  color: #ffffff;
}

.localize-button:hover {
  background-color: #2e7997;
  border-color: #ffffff;
  color: #ffffff;
}

.localize-button:active {
  background-color: #1a6a88;
  border-color: #ffffff;
  color: #ffffff;
}

.localize-button:focus {
}

.localize-button:disabled {
  background-color: #1a6a88 !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
}

.localize-button .right-icon-spacing {
  margin-right: 8px;
}

.localize-button .left-icon-spacing {
  margin-left: 8px;
}
.localize-button-variant-primary {
  font-weight: 700;
  letter-spacing: 0px;
  transition: all 200ms;
  background-color: #3997bd;
  color: #ffffff;
}

.localize-button-variant-primary:hover {
  background-color: #2e7997;
  border-color: #ffffff;
  color: #ffffff;
}

.localize-button-variant-primary:active {
  background-color: #1a6a88;
  border-color: #ffffff;
  color: #ffffff;
}

.localize-button-variant-primary:focus {
}

.localize-button-variant-primary:disabled {
  background-color: #b0d5e5 !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
}
.localize-button-variant-success {
  font-weight: 700;
  letter-spacing: 0px;
  border-radius: 4px;
  transition: all 200ms;
  background-color: #219653;
  color: #ffffff;
}

.localize-button-variant-success:hover {
  background-color: #219653;
  border-color: #ffffff;
  color: #ffffff;
}

.localize-button-variant-success:active {
  background-color: #0d823f;
  border-color: #ffffff;
  color: #ffffff;
}

.localize-button-variant-success:focus {
}

.localize-button-variant-success:disabled {
  background-color: #a6d5ba !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
}
.localize-button-variant-secondary {
  font-weight: 700;
  letter-spacing: 0px;
  border-radius: 4px;
  transition: all 200ms;
  background-color: #ffffff;
  border-color: #3997bd;
  color: #3997bd;
  border-width: 1px;
}

.localize-button-variant-secondary:hover {
  background-color: #d7eaf2;
  border-color: #1a6a88;
  color: #3997bd;
}

.localize-button-variant-secondary:active {
  background-color: #d6dce6;
  border-color: #1a6a88;
  color: #1a6a88;
}

.localize-button-variant-secondary:focus {
  background-color: #d7eaf2;
  color: #1a6a88;
}

.localize-button-variant-secondary:disabled {
  background-color: #f2f2f2 !important;
  border-color: !important;
  color: #bdbdbd !important;
}
.localize-button-variant-gray {
  font-weight: 700;
  letter-spacing: 0px;
  transition: all 200ms;
  background-color: #f2f2f2;
  color: #4f4f4f;
}

.localize-button-variant-gray:hover {
  background-color: #e0e0e0;
  border-color: #ffffff;
  color: #4f4f4f;
}

.localize-button-variant-gray:active {
  background-color: #bdbdbd;
  border-color: #ffffff;
  color: #4f4f4f;
}

.localize-button-variant-gray:focus {
  background-color: #828282;
  color: #303030;
}

.localize-button-variant-gray:disabled {
  background-color: #f2f2f2 !important;
  border-color: #ffffff !important;
  color: #bdbdbd !important;
}
.localize-button-variant-text {
  font-weight: 700;
  letter-spacing: 0px;
  text-decoration: underline;
  transition: all 200ms;
  background-color: rgb(0, 0, 0, 0);
  color: #3997bd;
}

.localize-button-variant-text:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: ;
  color: #2e7997;
}

.localize-button-variant-text:active {
  background-color: rgba(0, 0, 0, 0);
  border-color: ;
  color: #1a6a88;
}

.localize-button-variant-text:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #61acca;
}

.localize-button-variant-text:disabled {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: !important;
  color: #d7eaf2 !important;
}
.localize-button-variant-warning {
  font-weight: 700;
  letter-spacing: 0px;
  border-radius: 4px;
  transition: all 200ms;
  background-color: #eb5757;
  color: #ffffff;
}

.localize-button-variant-warning:hover {
  background-color: #bc4646;
  border-color: #ffffff;
  color: #ffffff;
}

.localize-button-variant-warning:active {
  background-color: #bc4646;
  border-color: #ffffff;
  color: #ffffff;
}

.localize-button-variant-warning:focus {
  background-color: #bc4646;
}

.localize-button-variant-warning:disabled {
  background-color: #f7bcbc !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
}
.localize-button-size-sm {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.localize-button-size-md {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.localize-button-size-lg {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}
