:root {
  /* Primitives */
  --localize-color-aqua-green-10: #E8F4F4;
  --localize-color-aqua-green-20: #D1E8E8;
  --localize-color-aqua-green-40: #A3D1D1;
  --localize-color-aqua-green-60: #75BABA;
  --localize-color-aqua-green-80: #47A3A3;
  --localize-color-aqua-green-100: #198C8C;
  --localize-color-aqua-green-120: #057878;
  --localize-color-aqua-green-default: #057878;
  --localize-color-blue-10: #EAF2FD;
  --localize-color-blue-20: #D5E6FB;
  --localize-color-blue-40: #ACCCF8;
  --localize-color-blue-60: #82B3F4;
  --localize-color-blue-80: #5999F1;
  --localize-color-blue-100: #2F80ED;
  --localize-color-blue-120: #1B6CD9;
  --localize-color-blue-default: #1b6cd9;
  --localize-color-purple-10: #F5EEFC;
  --localize-color-purple-20: #EBDCF9;
  --localize-color-purple-40: #D7B9F3;
  --localize-color-purple-60: #C397EC;
  --localize-color-purple-80: #AF74E6;
  --localize-color-purple-100: #9B51E0;
  --localize-color-purple-120: #873DCC;
  --localize-color-purple-default: #873dcc;
  --localize-color-orange-10: #FEF5ED;
  --localize-color-orange-20: #FBE0C9;
  --localize-color-orange-40: #FAD6B7;
  --localize-color-orange-60: #F7C292;
  --localize-color-orange-80: #F5AD6E;
  --localize-color-orange-100: #F2994A;
  --localize-color-orange-120: #DE8536;
  --localize-color-orange-default: #de8536;
  --localize-color-netural-10: #E8EAED;
  --localize-color-netural-20: #D1D5DB;
  --localize-color-netural-40: #A3ABB6;
  --localize-color-netural-60: #768192;
  --localize-color-netural-80: #48576D;
  --localize-color-netural-100: #1A2D49;
  --localize-color-netural-120: #15243A;
  --localize-color-netural-default: #1a2d49;
  --localize-color-light-blue-10: #F6FBFE;
  --localize-color-light-blue-20: #ECF8FC;
  --localize-color-light-blue-40: #DAF1FA;
  --localize-color-light-blue-60: #C7E9F7;
  --localize-color-light-blue-80: #B5E2F5;
  --localize-color-light-blue-100: #A2DBF2;
  --localize-color-light-blue-120: #82AFC2;
  --localize-color-light-blue-default: #82afc2;
  --localize-color-yellow-10: #FEFAED;
  --localize-color-yellow-20: #FCF4DB;
  --localize-color-yellow-40: #FAE9B7;
  --localize-color-yellow-60: #F7DF94;
  --localize-color-yellow-80: #F5D470;
  --localize-color-yellow-100: #F2C94C;
  --localize-color-yellow-120: #C2A13D;
  --localize-color-yellow-default: #c2a13d;
  --localize-color-red-10: #FDEEEE;
  --localize-color-red-20: #FBDDDD;
  --localize-color-red-40: #F7BCBC;
  --localize-color-red-60: #F39A9A;
  --localize-color-red-80: #EF7979;
  --localize-color-red-100: #EB5757;
  --localize-color-red-120: #BC4646;
  --localize-color-red-default: #bc4646;
  --localize-color-green-10: #E9F5EE;
  --localize-color-green-20: #D3EADD;
  --localize-color-green-40: #A6D5BA;
  --localize-color-green-60: #7AC098;
  --localize-color-green-80: #4DAB75;
  --localize-color-green-100: #219653;
  --localize-color-green-120: #0D823F;
  --localize-color-green-default: #7ac098;
  --localize-color-big-stone-10: #D6DCE6;
  --localize-color-big-stone-80: #32435C;
  --localize-color-big-stone-120: #1A2D49;
  --localize-color-big-stone-default: #1a2d49;
  --localize-color-boston-blue-10: #EBF5F8;
  --localize-color-boston-blue-20: #D7EAF2;
  --localize-color-boston-blue-40: #B0D5E5;
  --localize-color-boston-blue-60: #88C1D7;
  --localize-color-boston-blue-80: #61ACCA;
  --localize-color-boston-blue-100: #3997BD;
  --localize-color-boston-blue-120: #2E7997;
  --localize-color-boston-blue-140: #1A6A88;
  --localize-color-boston-blue-default: #3997bd;
  --localize-color-gray-0: #FFFFFF;
  --localize-color-gray-5: #F9F9F9;
  --localize-color-gray-10: #F2F2F2;
  --localize-color-gray-20: #E0E0E0;
  --localize-color-gray-40: #BDBDBD;
  --localize-color-gray-60: #828282;
  --localize-color-gray-80: #4F4F4F;
  --localize-color-gray-100: #303030;
  --localize-color-gray-120: #000000;
  --localize-color-gray-default: #828282;

  /* Default Theme */
  --localize-color-button-primary-bg-base: var(--localize-color-boston-blue-100);
  --localize-color-button-primary-bg-hover: var(--localize-color-boston-blue-120);
  --localize-color-button-primary-bg-active: var(--localize-color-boston-blue-140);
  --localize-color-button-primary-bg-focus: var(--localize-color-boston-blue-80);
  --localize-color-button-primary-bg-disabled: var(--localize-color-boston-blue-20);
  --localize-color-button-primary-text-base: var(--localize-color-gray-0);
  --localize-color-button-secondary-bg-base: var(--localize-color-gray-0);
  --localize-color-button-secondary-bg-hover: var(--localize-color-light-blue-20);
  --localize-color-button-secondary-bg-active: var(--localize-color-light-blue-40);
  --localize-color-button-secondary-bg-focus: var(--localize-color-light-blue-60);
  --localize-color-button-secondary-bg-disabled: var(--localize-color-gray-20);
  --localize-color-button-secondary-text-base: var(--localize-color-boston-blue-100);
  --localize-color-button-default-bg-base: var(--localize-color-gray-10);
  --localize-color-button-default-bg-hover: var(--localize-color-gray-20);
  --localize-color-button-default-bg-active: var(--localize-color-gray-60);
  --localize-color-button-default-bg-focus: var(--localize-color-gray-80);
  --localize-color-button-default-bg-disabled: var(--localize-color-gray-10);
  --localize-color-button-default-text-base: black;
  --localize-color-button-text-text-base: var(--localize-color-boston-blue-100);
  --localize-color-button-text-text-hover: var(--localize-color-boston-blue-120);
  --localize-color-button-text-text-active: var(--localize-color-boston-blue-140);
  --localize-color-button-text-text-focus: var(--localize-color-boston-blue-80);
  --localize-color-button-text-text-disabled: var(--localize-color-boston-blue-20);
  --localize-color-button-success-bg-base: var(--localize-color-green-80);
  --localize-color-button-success-bg-hover: var(--localize-color-green-100);
  --localize-color-button-success-bg-active: var(--localize-color-green-120);
  --localize-color-button-success-bg-disabled: var(--localize-color-green-20);
  --localize-color-button-success-text-base: #ffffff;
  --localize-color-button-warning-bg-base: var(--localize-color-red-80);
  --localize-color-button-warning-bg-hover: var(--localize-color-red-100);
  --localize-color-button-warning-bg-active: var(--localize-color-red-120);
  --localize-color-button-warning-bg-focus: var(--localize-color-red-20);
  --localize-color-button-warning-text-base: #ffffff;
  --localize-color-error: var(--localize-color-red-100);
  --localize-color-success: var(--localize-color-green-100);
  --localize-color-input-border-base: var(--localize-color-gray-20);
  --localize-color-input-border-hover: var(--localize-color-gray-40);
  --localize-color-input-border-focus: var(--localize-color-boston-blue-100);
  --localize-color-input-bg-base: #ffffff;
  --localize-color-input-bg-hover: var(--localize-color-gray-10);
  --localize-color-input-bg-disabled: var(--localize-color-gray-20);
  --localize-color-input-bg-icon: var(--localize-color-gray-10);
  --localize-color-input-icon-primary: var(--localize-color-gray-20);
  --localize-color-input-icon-secondary: #c63737;
  --localize-color-light: #ffffff;
  --localize-color-dark: #000000;
}

html[data-theme='light-theme'] {
  --localize-color-button-primary-bg-base: var(--localize-color-boston-blue-100);
  --localize-color-button-primary-bg-hover: var(--localize-color-boston-blue-120);
  --localize-color-button-primary-bg-active: var(--localize-color-boston-blue-140);
  --localize-color-button-primary-bg-focus: var(--localize-color-boston-blue-80);
  --localize-color-button-primary-bg-disabled: var(--localize-color-boston-blue-20);
  --localize-color-button-primary-text-base: var(--localize-color-gray-0);
  --localize-color-button-secondary-bg-base: var(--localize-color-gray-0);
  --localize-color-button-secondary-bg-hover: var(--localize-color-light-blue-20);
  --localize-color-button-secondary-bg-active: var(--localize-color-light-blue-40);
  --localize-color-button-secondary-bg-focus: var(--localize-color-light-blue-60);
  --localize-color-button-secondary-bg-disabled: var(--localize-color-gray-20);
  --localize-color-button-secondary-text-base: var(--localize-color-boston-blue-100);
  --localize-color-button-default-bg-base: var(--localize-color-gray-10);
  --localize-color-button-default-bg-hover: var(--localize-color-gray-20);
  --localize-color-button-default-bg-active: var(--localize-color-gray-60);
  --localize-color-button-default-bg-focus: var(--localize-color-gray-80);
  --localize-color-button-default-bg-disabled: var(--localize-color-gray-10);
  --localize-color-button-default-text-base: black;
  --localize-color-button-text-text-base: var(--localize-color-boston-blue-100);
  --localize-color-button-text-text-hover: var(--localize-color-boston-blue-120);
  --localize-color-button-text-text-active: var(--localize-color-boston-blue-140);
  --localize-color-button-text-text-focus: var(--localize-color-boston-blue-80);
  --localize-color-button-text-text-disabled: var(--localize-color-boston-blue-20);
  --localize-color-button-success-bg-base: var(--localize-color-green-80);
  --localize-color-button-success-bg-hover: var(--localize-color-green-100);
  --localize-color-button-success-bg-active: var(--localize-color-green-120);
  --localize-color-button-success-bg-disabled: var(--localize-color-green-20);
  --localize-color-button-success-text-base: #ffffff;
  --localize-color-button-warning-bg-base: var(--localize-color-red-80);
  --localize-color-button-warning-bg-hover: var(--localize-color-red-100);
  --localize-color-button-warning-bg-active: var(--localize-color-red-120);
  --localize-color-button-warning-bg-focus: var(--localize-color-red-20);
  --localize-color-button-warning-text-base: #ffffff;
  --localize-color-error: var(--localize-color-red-100);
  --localize-color-success: var(--localize-color-green-100);
  --localize-color-input-border-base: var(--localize-color-gray-20);
  --localize-color-input-border-hover: var(--localize-color-gray-40);
  --localize-color-input-border-focus: var(--localize-color-boston-blue-100);
  --localize-color-input-bg-base: #ffffff;
  --localize-color-input-bg-hover: var(--localize-color-gray-10);
  --localize-color-input-bg-disabled: var(--localize-color-gray-20);
  --localize-color-input-bg-icon: var(--localize-color-gray-10);
  --localize-color-input-icon-primary: var(--localize-color-gray-20);
  --localize-color-input-icon-secondary: #c63737;
  --localize-color-light: #ffffff;
  --localize-color-dark: #000000;
}